.profile-card {
    cursor: pointer;

    .profile-quote {
        font-size: 16px;
        font-style: italic;
        margin: 18px 0;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    }

    .profile-card-content {
        position: relative;
        padding: 20px;
        z-index: 1;
    }

    .profile-pic {
        position: absolute;
        right: -8px;
        bottom: 0;
        height: 108%;
        z-index: 0;
    }
}