.card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: 15px;
        border: 1px solid transparent; 
        background: linear-gradient(to top right, #FFF, rgba(0, 0, 0, 0) 40%) border-box; 
        mask:
            linear-gradient(#000 0 0) padding-box, 
            linear-gradient(#000 0 0);
        mask-composite: exclude; 
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: 15px;
        border: 1px solid transparent;
        background: linear-gradient(to bottom left, #FFF, rgba(0, 0, 0, 0) 40%) border-box;
        mask:
            linear-gradient(#000 0 0) padding-box, 
            linear-gradient(#000 0 0);
        mask-composite: exclude;
    }
}
